<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <!-- 避免在Server Farm情況下，不同Server在檢驗ViewState時發生應用程式錯誤 -->
    <machineKey validationKey="8F8CFDA6E5E21152DE610FD92CC6F608A543BA4453D804AE389E6038CD18B82359E9324C04B0C3DAF2AD397FE514E29D367739CC975B555B542C26125EF452CA" decryptionKey="9DAF971DA86EE847C68CA003A2077D8D32793279392505435B4E6A5CE68AD46D" validation="SHA1" decryption="AES" />
  </system.web>
  <appSettings>
    <!--
    本機iosh
    <add key="DB" value="9E740121F03CF31E40FC4F144ABD0B547808931E302B85FADE1ADF4662E7B8E8C78EA4CB26723A7680240F3BA5D8C42C973BA79AA98796B666B3C00C1CCE29BD9E130B2359AA15CE" />
    本機ioshdata
    <add key="DB" value="9E740121F03CF31E40FC4F144ABD0B547808931E302B85FADE1ADF4662E7B8E8C78EA4CB26723A7618390F0066AA17E2ED59B3C6F96AD42BDF0584E50E019456EC448A20ECC6C627ABE602AEC773C6A5" />
    somee主機
    <add key="DB" value="1CC25D3D29900BC6539F519294FEAF88CDBD135803EAE8A151EDC8D80510F78B5D5D93C50C89830CFA3B9F1602F10ED8598EBDD26F1508B81ABAC346D1F3E85F1987672F2D3E23BD5378DAECCF82DF224005DBBAC6323D6251E55F7507F8EE15E4354DF61F1533B85B6FCFA46FDD5C358A71EF128F7CD54EC5A635C308B74994E785C8FF33D8D5AF58D722CD30C719B15654C3F3063237850346523D20E6F32F615C3CC7AEB7E1E47FE40776CB3A8DCDA882C36CD618348C3E1B6C1D61344ACD5573C5742CE6A2D1">
    -->
    <add key="DB" value="9E740121F03CF31E40FC4F144ABD0B547808931E302B85FADE1ADF4662E7B8E8C78EA4CB26723A7680240F3BA5D8C42C973BA79AA98796B6737F8870A8F561148D969A4FA4BA7BE23D87D3E74D2A133A" />
    <add key="SMTPServer" value="smtpout.asia.secureserver.net"/>
    <add key="SMTPPort" value="25"/>
    <add key="MailAccount" value="noreply@ioshweb.com"/>
    <add key="MailPassword" value="iosh@TW"/>
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
        <!--<system.webServer> 
            <defaultDocument> 
                <files> 
                    <add value="Default.aspx" /> 
                </files> 
            </defaultDocument> 
            <staticContent>
                <mimeMap fileExtension=".json" mimeType="application/json" />
            </staticContent>
        </system.webServer>--> 
</configuration>